<a id = "top_page"/>

<% if @display == "all" %>
	
	<!-- Displays all existant shops in database -->
	<h1>List of all shops in database:</h1>

<% else %>
	
	<% if @display == "near" %>
		<!-- Displays X nearest shops -->
		<h1>Here are the <%= @number %> nearest shops:</h1>
	<% else %>
		<!-- Displays the neighbourhood -->
		<h1>You can find all the following shops in your neighbourhood (<%= @length %>km):</h1>
	<% end %>

	<!-- Displaying Google Map -->
	<div id = "map_container">
		<div id = "map"></div>
	</div>

	<!-- Provide filters to user -->
	<%= render 'index_filters' %>
<% end %>
